{% include 'login/header.html' %}
<body>

<div class="d-flex justify-content-end ">
    <div class="col-lg-2 col-md-3 col-sm-4 mt-2 mx-0">
    <form class="form" action="{{ url_for('logout_page') }}" method="GET">
        <button class="btn btn-primary text-uppercase btn-light fs-5 fw-bold" id="logOut" type="submit">Logout</button>
    </form>
    </div>
</div>

<div class="container text-center mt-3">
    {% for x in range(tasks|length) %}
    <form class="form-inline" action="{{ url_for('delete_task', update=True) }}" method="POST">
        <div class="row">
            {% if tasks[x]['status'] is true %}
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input name="status" class="form-check-input mt-3 bg-success border-dark" type="checkbox" onchange="this.form.submit()" checked>
                <input name="status" type="hidden" value="False">
            </div>
            {% else %}
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input name="status" class="form-check-input mt-3 bg-light border-dark" type="checkbox" value="True" onchange="this.form.submit()">
                <input name="status" type="hidden" value="False">
            </div>
            {% endif %}
            {% if tasks[x]['status'] is true %}
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input type="text" class="form-control-plaintext" value="{{ x + 1 }}" style="color: #146356;" readonly>
                <input name="id" type="hidden"  value="{{ tasks[x]['task_id'] }}">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 fs-4 fw-bold mt-1">
                <s><input name="taskname" type="text" class="form-control-plaintext "  value="{{ tasks[x]['name'] }}" readonly></s>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 fs-4 fw-bold mt-1">
                <s><textarea name="taskdesc" class="form-control-plaintext" rows="1" style="text-align:left; overflow:hidden; min-height: 50px; max-height: 265px;" maxlength="300" readonly>{{ tasks[x]['description'] }}</textarea></s>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 mt-1 " >
            <button class="btn mt-2 border-light" type="submit" disabled>
                <i class="fa-sharp fa-solid fa-pen-to-square fa-lg"></i>
            </button>
            </div>
            {% else %}
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input type="text" class="form-control-plaintext " value="{{ x + 1 }}" readonly>
                <input name="id" type="hidden" value="{{ tasks[x]['task_id'] }}">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 fs-4 fw-bold mt-1">
                <input name="taskname" type="text" class="form-control-plaintext border-bottom"  value="{{ tasks[x]['name'] }}" maxlength="14"  required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 fs-4 fw-bold mt-1">
                <textarea name="taskdesc" rows="1" style="text-align:left; overflow:hidden; min-height: 50px; max-height: 265px;" class="form-control-plaintext border-bottom" maxlength="300" required>{{ tasks[x]['description'] }}</textarea>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 mt-1 ">
            <button class="btn mt-2" type="submit">
                <i class="fa-sharp fa-solid fa-pen-to-square fa-lg"></i>
            </button>
            </div>
            {% endif %}
        <div class="col-lg-1 col-md-1 col-sm-1 mt-1 ">
            <p class="mt-3">
                <a href="{{ url_for('delete_task', task_id=tasks[x]['task_id']) }}"><i class="fa-sharp fa-solid fa-square-minus fa-lg" style="color: #F24C3D;"></i></a>
            </p>
        </div>
        </div>
    </form>
    {% endfor %}
    <form class="form-inline" action="{{url_for('add_new_task')}}" method="POST">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input name="status" class="form-check-input mt-3  border-dark" type="checkbox" disabled >
                <input name="status" type="hidden" value="false">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 fs-4 fw-bold mt-1">
                <input type="text" class="form-control-plaintext" value=" ?" style="color: #146356;" readonly>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 fs-4 fw-bold mt-1">
                <input name="taskname" type="text" class="form-control-plaintext  border-bottom" maxlength="14"  required>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 fs-4 fw-bold mt-1 mb-3">
                <textarea name="taskdesc" rows="1" style="text-align:left; overflow:hidden; min-height: 50px; max-height: 265px;" class="form-control-plaintext border-bottom" maxlength="300" required></textarea>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 mt-1 " >
                <button name="new_task" class="btn mt-2" style="color: #22A699;" type="submit">
                    <i class="fa-solid fa-square-plus fa-xl"></i>
                </button>
            </div>
        </div>
    </form>
</div>
{% include 'task/footer.html' %}
